{% extends 'homepage/navbar.html' %}
{% load static %}
{% block content %}
    <div class="container container-small">
        <h1 class="display-3 text-center"
            style="font-weight: 700;
                   color: #283618;">About Me</h1>
        <div class="container">
            
        </div>
        <div class="p-5 text-center" style="letter-spacing:0.03em;">
            <img src="{% static 'homepage/images/about_me.jpg' %}"
                 class="img-fluid rounded mx-auto d-block"
                 style="max-width: 60%"
                 alt="Me in uniform!">
            <br>
            <h3 class="text-center" style="font-weight: 700;  color: #283618;">Hi!</h3>
            <br>
            <p>Hey, I'm Shawn. Welcome to my personal portfolio website!</p>
            <p>...no, that's a huge overstatement.</p>
            <p>
                Uh... welcome to the thing that is a conglomeration of crudely constructed HTML, CSS, and JS code snippets that I copy-pasted from StackOverflow and Youtube.
            </p>
            <p>
                I'm not even joking -- that's all that this is. The fancy navbar at the top? 
                 That cool typewriter effect? The pretty animations on my projects?
                 That's all just copy-pasted code that I spent hours tweaking.
            </p>
            <p>Then again, maybe that's really all coding is.</p>
            <hr>
            <p>I'm a freshman at Carnegie Mellon University's School of Computer Science.</p>
            <p>
                I like coding, making music, videography, playing badminton/basketball/guitar/League of Legends (and be terrible at all four), and cultivating deep, trusting relationships with people I like and trust.
            </p>
            <p>
                Feel free to look around my website, but there's not too much else to see (besides my <a href="https://shawnleemilitary.wordpress.com">blog</a>, maybe?). 
                 I literally started web development a few weeks ago. 
                 So if like my navbar suddenly overlaps elements of my site, or like a heading looks really oddly positioned, I hope you give me a break. 
                 This isn't Wordpress or Wix, I'm writing code to try to make this pretty.
            </p>
            <p>
                Again, welcome. If you've read this far, you get a virtual hug from me. :)
            </p>
        </div>
    </div>
{% endblock %}
