{% extends 'homepage/navbar.html' %}
{% block content %}
    <style>
        .feed-item-title {
            font-weight: 700;
            font-size: 30px;
        }
        
        @media (min-width: 900px) {
            .container-small {
                width: 900px;
            }
        
            .container-large {
                width: 1500px;
            }
        }
        
        .container-small,
        .container-large {
            max-width: 100%;
        }
    </style>
    <div class="container container-small">
        <h1 class="display-3 text-center" style="font-weight: 700;">Blog</h1>
        {% for entry in entries %}
            <div class="p-5 border rounded shadow" style="margin:15px;">
                <h3>{{ entry.title }}</h3>
                <h3>{{ entry.published }}</h3>
                {{ entry.short_contents | safe }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
