{% extends "Tracker/navbar.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'homepage/style.css' %}">

    <div class="mainSection">
      

        <div class="title">
          <h1 class="display-1">
            Shawn Lee
          </h1>
        </div>
        
        <div class="typedTextContainer display-6">
          <div>I am <span class="typedText"></span><span class="cursor">&nbsp;</span></div>
        </div>
        
      </div>
      
      <div class="divider shapedividers_com-1939"></div>
    <!-- Main Content Area -->
    <div class="container container-small">
        <h1 class="display-4 text-center"
            style="font-weight: 700; margin-top:40px">Blog Posts</h1>
        {% for entry in entries %}
            {% if not forloop.counter > 4 %}
                <div class="p-5 border rounded shadow entryContainer" style="margin:15px;">
                    <h3 class="text-center">{{ entry.title }}</h3>
                    <h6 class="text-center">{{ entry.published }}</h6>
                    <div style="margin-top:20px;">{{ entry.short_contents | safe }}</div>
                    <div class="text-center">
                        <button type="button"
                                class="btn btn-dark text-center"
                                onclick="location.href='{{ entry.link }}'">Read More</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <p class="text-center" style="font-size:5px;">© Shawn Lee, 2021. All rights reserved.</p>
    <script type="text/javascript">
        var nav = document.getElementById('navbarDiv');
        $("#socialDropdown").css("background", "transparent");
        $("#socialDropdown").css("border", "none");
        nav.classList.remove('bg-light', 'shadow');
        window.addEventListener('scroll', function() {
            if (window.pageYOffset > 300) {
                nav.classList.add('bg-light', 'shadow');
                $("#socialDropdown").css("background", "white");
                $("#socialDropdown").css("border", "1px solid rgba(0,0,0,.15)");
                $(".arrow").hide();
            } else {
                nav.classList.remove('bg-light', 'shadow');
                $("#socialDropdown").css("background", "transparent");
                $("#socialDropdown").css("border", "none");
                $(".arrow").show();
            }
        });
    </script>

    <script type="text/javascript">
        const typedTextSpan = document.querySelector(".typedText");
        const cursorSpan = document.querySelector(".cursor");

        const textArr = ["a CMU CS student", "a Korean Army Veteran", "a developer", "a classically trained musician", "Shawn Lee"];
        const typingDelay = 100;
        const erasingDelay = 50;
        const newTextDelay = 2000;

        let textArrIndex = 0;
        let charIndex = 0;

        function type(){
        if(charIndex < textArr[textArrIndex].length){ //If not done typing
            if(!cursorSpan.classList.contains("noblink")) cursorSpan.classList.add("noblink"); // Prevent blink while typing or erasing
            typedTextSpan.textContent += textArr[textArrIndex].charAt(charIndex);
            charIndex++;
            setTimeout(type, typingDelay);
        }
        else{ // If done typing
            cursorSpan.classList.remove("noblink"); // Start cursor blink
            setTimeout(erase, newTextDelay);
        }
        }

        function erase(){
        if(charIndex > 0){ // If not done erasing
            if(!cursorSpan.classList.contains("noblink")) cursorSpan.classList.add("noblink"); // Prevent blink while typing or erasing
            typedTextSpan.textContent = textArr[textArrIndex].substring(0, charIndex-1); // Reduce typed text length by 1
            charIndex--;
            setTimeout(erase, erasingDelay);
        }
        else{ // If done erasing
            cursorSpan.classList.remove("noblink"); // Start cursor blink
            textArrIndex++;
            if(textArrIndex >= textArr.length){ //Loop back to first text in array
            textArrIndex = 0;
            }
            setTimeout(type, typingDelay + 1000);
        }
        }

        window.addEventListener("DOMContentLoaded", ()=>{
        setTimeout(type, newTextDelay);
        });
    </script>
{% endblock %}
