
{% extends "Tracker/navbar.html" %}
{% load static %}

{%block content%}
    
    <style>
        body { 
            padding-top: 0px !important; 
        }
    </style>

    <div
      class="banner-image vh-100 d-flex align-items-center"
      style="background-image: url('{% static 'homepage/images/background.jpg' %}'); background-size: cover; background-position: center bottom;"
    >

        
        <div class="container-sm vh-100">
                <div class="row d-flex align-items-center justify-content-center h-75">
                    <h1 class="display-1 text-center" style="font-family: 'Permanent Marker'; animation: fadein 2s;">SHAWN LEE</h1>
                </div>

                <div class="content text-center">
                    <h1 class="h1" style="font-family: 'Permanent Marker'; animation: fadein 2s;">Time until freedom:</h1>
                </div>

                <div class="progress"  style="margin:50px; margin-top: 50px; margin-bottom: 150px; animation: fadein 2s;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:51% ; background-color:#5e8078;" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100">51%</div>
                </div>
        </div>

    </div>

    <!-- Main Content Area -->
    <div class="container my-5 d-grid gap-5">
      <div class="p-5 border" style="font-family: 'Montserrat';">
        <p>
        Welcome to my website!
          </p>
          <p>
              ...no, that's a huge overstatement.
          </p>
        <p>
            Uh... welcome to the thing that is a conglomeration of crudely constructed HTML+CSS and Django code snippets that I copy-pasted from StackOverflow.
        </p>
          <p>
              I'm not even joking -- that's all that this is. The fancy navbar at the top? That cute progress bar that shows how much I have left in the army? The workout tracker that I spent a fucking week trying to code? (Yeah, I know. Who the fuck spends a week making a shitty app like that? Answer: Me) That's all just copy-pasted code that I spent hours tweaking. 
              
          </p>
    
              <p>
              Then again, maybe that's really all coding is. 
          </p>
          <p>
              Feel free to look around my website, but trust me: I am terrible at CSS. I literally started web development two weeks ago. So if like my navbar suddenly overlaps elements of my site, or like a heading looks really oddly positioned, give me a break. This isn't fucking Wordpress or Wix, I'm writing code to try to make this pretty.
          </p>
      </div>
    </div>


    <script type="text/javascript">
      var nav = document.getElementById('navbarDiv');
        $("#socialDropdown").css("background", "transparent");
        $("#socialDropdown").css("border", "none");
        nav.classList.remove('bg-light', 'shadow');
      window.addEventListener('scroll', function () {
        if (window.pageYOffset > 300) {
          nav.classList.add('bg-light', 'shadow');
            $("#socialDropdown").css("background", "white");
            $("#socialDropdown").css("border", "1px solid rgba(0,0,0,.15)");
        } else {
          nav.classList.remove('bg-light', 'shadow');
        $("#socialDropdown").css("background", "transparent");
        $("#socialDropdown").css("border", "none");
        }
      });
    </script>

{% endblock %}