{% extends "homepage/base.html" %}
{% load static %}

{% block navbar %}

<link rel="stylesheet" href="{% static 'homepage/style.css' %}">


<!-- Code to 1. enable dropdown hover and 2. make collapsed navbar white -->
<style>
    @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
        
}	
</style>

<div class="fixed-top bg-light" id="navbarDiv" data-toggle="affix">
    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light p-md-3">
      
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage:home' %}">Shawn Lee</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto" style="font-family: 'Montserrat';">
            <li class="nav-item text-center">
              <a class="nav-link" href="#top">Home</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="#aboutMe">About Me</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="#research">Research</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="https://drive.google.com/file/d/1QwlPVpuzdY-2P3ok2zZQr-eDZ2q3UG5j/view?usp=sharing">Resume</a>
            </li>
            <!-- Blog -->
            {% comment %} <li class="nav-item text-center">
              <a class="nav-link" href="https://shawnleemilitary.wordpress.com">Blog</a>
            </li> {% endcomment %}
            <li class="nav-item text-center dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            External Links
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="socialDropdown">
                
                <li><a class="dropdown-item text-center" href="https://github.com/ShawneeBoy" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">Github</a></li>
                <li><a class="dropdown-item text-center" href="https://www.linkedin.com/in/sihyunlee"/ target="_blank"><img src="{% static 'homepage/images/linkedin.svg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">LinkedIn</a></li>
              </ul>
            </li>
            {% comment %} <li class="nav-item text-center">
              <a class="nav-link" href="{% url 'Tracker:home' %}">Workout Tracker</a>
            </li> {% endcomment %}
          </ul>
        </div>
      </div>
    </nav>
</div>

<script>
    $(".navbar-toggler").click(function () {
    $("nav").toggleClass("bg-light");
    })
</script>


{% endblock %}