{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'Tracker/style.css' %}">  
    <!-- <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <title>{% block title %}Shawn's Workout Tracker{% endblock %}</title>
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
        <!-- <button class="mdc-button foo-button">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Button</span>
        </button> -->
    </div>
</body>
</html>
