{% extends "Tracker/base.html" %}

{% block content %}

<h1>
    Recent Workouts:
</h1>
<!-- <ul>
    {% for workout in recent_workout_list %}
        <li>{{ workout }}</li>
    {% endfor %}
</ul> -->



<div class="accordion" id="accordionExample">
    {% for workout in recent_workout_list %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
        {{ workout }}
      </button>
    </h2>
    <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
    {% endfor %}
</div>

<button type="button" class="btn btn-primary" onclick="location.href={% url 'Tracker:add_workout' %};">
    Add New Workout
</button>

{% endblock %}