{% extends "Tracker/base.html" %}
{% load static %}

{% block navbar %}

<!-- Code to 1. enable dropdown hover and 2. make collapsed navbar white -->
<style>
    @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
        
}	
</style>

<div class="fixed-top bg-light shadow" id="navbarDiv" data-toggle="affix">
    
    <!-- Title -->
    
    <!-- <nav class="navbar navbar-expand-lg navbar-light p-md-3" style="padding-bottom:0px !important">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item text-center">
                        <a class="nav-link"  id="logo" href="{% url 'homepage:home' %}" style="padding-bottom:0px">
                        <strong>Shawn Lee</strong>
                        </a>
                    </li>
                </ul>
        </div>
    </div>
  </nav> -->
    
    <!-- <div class="content text-center">
        <a class="display-4" href="{% url 'homepage:home' %}" style="color:black; text-decoration:none; animation: fadein 2s; padding:10px !important">Shawn Lee</a>
    </div> -->
    
    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light p-md-3">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item text-center">
              <a class="nav-link" href="{% url 'homepage:home' %}">Home</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="{% url 'homepage:about' %}">About Me</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="{% url 'homepage:blog' %}">Blog</a>
            </li>
            <li class="nav-item text-center dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Social Media
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="socialDropdown">
                <li><a class="dropdown-item text-center" href="https://www.instagram.com/shawn.leee/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Instagram_simple_icon.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">Instagram</a></li>
                <li><a class="dropdown-item text-center" href="https://www.facebook.com/shawnlee.88/" target="_blank"><img src="{% static 'homepage/images/facebook.svg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">Facebook</a></li>
                <li><a class="dropdown-item text-center" href="https://github.com/ShawneeBoy" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">Github</a></li>
              </ul>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="{% url 'Tracker:home' %}">Workout Tracker</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>

<script>
    $(".navbar-toggler").click(function () {
    $("nav").toggleClass("bg-light");
    })
</script>


{% endblock %}