{% extends "Tracker/base.html" %}
{% load static %}

{% block navbar %}

    <link href="{% static 'homepage/style.css' %}" rel="stylesheet">
<div class="fixed-top" data-toggle="affix">


<nav class="navbar navbar-expand-lg navbar-light scrolling-navbar">
    <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mx-auto">
            <li class="nav-item text-center">
            <a class="nav-link"  id="logo" href="{% url 'homepage:home' %}">
            <strong>Shawn Lee</strong>
            </a>
          </li>
                  </ul>
        </div>
    </div>
  </nav>


<nav class="navbar navbar-expand-lg navbar-light scrolling-navbar" id="main_navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <!-- Brand -->
      
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active text-center">
            <a class="nav-link" href="{% url 'homepage:home' %}">Home</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'homepage:home' %}">About Me</a>
          </li>

            
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'Tracker:home' %}">Workout Tracker</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'homepage:home' %}">To be added</a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
</div>
{% endblock %}